div
{
    width: 65vw;
    height: 100vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mainText
{
    font: 5em "Fira Sans", sans-serif;
    color: #72a37f;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
}

#canvas
{
    height: 70%;
    width: 100%;
    display: block;
    margin-left: 0px;
    margin-right: 0px;

    background-color: aquamarine;
}

#controls
{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}